section.about.anchor(id="about")
    .container.col-sm-8.offset-sm-2
        .row
            .about_wrapper.col-sm-12
                .about_tittle_wrapper
                    h1.title Обо мне
        .row
            .about_bio.col-sm-12
                .row
                    .bio_text_wrapper.col-sm-6
                        p.bio__text Я такой-то и сякой-то. Учился там-то и сям-то. Работал там и сям. У меня воот столько опыта, и еще больше навыков. Я хорош, и Вы это знаете.
                    .bio_img_wrapper.col-sm-6
                        img.bio__img.col-12(src="img/notme.jpg" alt="not me" title="это не мое фото")
                        span Изображение взято с сайта
                            a(href="https://thispersondoesnotexist.com/")  https://thispersondoesnotexist.com/
        .row
            .skills_title.col-sm-12
                .skills_title_wrapper
                    h3.title-2 Навыки
        .row
            .skills__list.col-sm-12
                .row
                    .col-lg-3.offset-lg-1
                        p html и CSS
                        progress.progress(value="80" max="100")
                    .col-lg-3.offset-lg-1
                        p JavaScript
                        progress.progress(value="50" max="100")
                    .col-lg-3.offset-lg-1
                        p Bootstrap
                        progress.progress(value="60" max="100")
                    .col-lg-3.offset-lg-1
                        p PHP
                        progress.progress(value="30" max="100")
                    .col-lg-3.offset-lg-1
                        p SQL
                        progress.progress(value="60" max="100")
                    .col-lg-3.offset-lg-1
                        p Laravel
                        progress.progress(value="20" max="100")
                    .col-lg-3.offset-lg-1
                        p WordPress
                        progress.progress(value="40" max="100")


