section.contacts.anchor(id="contacts")
    .container.col-sm-8.offset-sm-2
        .row
            .contacts_title_wrapper.col-sm-12
                h1.title Контакты
        .row
            .contacts_numbers.col-sm-6
                h3.title-2 +7 777 777-77-77
                h3.title-2 +8 777 888-88-88
                h3.title-2 Адрес:
                h4.title-2 Остров невезения, палатка №1
            .col-sm-5.offset-sm-1
                iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d57133.35326765055!2d27.243182562562698!3d59.8480999216514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1619467452264!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy")