footer.footer
    .container-fluid
        .footer_wrapper.row
            .author.col-sm-2.offset-sm-1
                h4 Daniel.B
                h4
                    a(href="https://github.com/xxdaniel7xx") GitHub
            .rights.col-sm-3
                h4 &#169; Company 2021