section.main.anchor(id="main")
    .container.col-sm-8.offset-sm-2
        .row
            .main_title_wrapper.col-sm-12
                h1.title Разработка веб-приложений
        .row.align-content-center
            .main_img_wrapper.col-sm-6
                img.main__img.col-12(src="img/code.jpg" alt="code")
            .main_text_wrapper.col-sm-6
                p.main__text Здесь я рассказываю насколько необходимо пользоваться именно моими услугами. Насколько я хорош и квалифицирован.

        .row
            .main__form.col-sm-12
                .form_title_wrapper.col-sm-12
                    h3.title-2 Оформить заявку
                form
                    fieldset
                        .row
                            .main_form__input.col-md-5.offset-md-1
                                span Имя:
                                    input(type="text")
                            .main_form__input.col-md-5.offset-md-1
                                span Фамилия:
                                    input(type="text")
                        .row
                            .main_form__input.col-md-12
                                span e-mail:
                                    input(type="email")
                        .row
                            .main_form__btn.col-md-8.offset-lg-2
                                button.btn__submit.btn-block Отправить


